---
layout: project
permalink: /projects/openc1/
title: OpenC1 (a Carmageddon remake)
images:
- coastal-1.jpg
- snowy-2.jpg
- cityb-1.jpg
- cityb-2.jpg
- coastal-2.jpg
- cityb-3.jpg
- aztec-1.jpg
- snowy-1.jpg
- cityb-5.jpg
- snowy-3.jpg

---

<div class="row">
    <div class="col-md-6 post-content">
        Carmageddon was released in 1997 and was one of the first games where the environment
        was completely open and you didn't have to stick to the track.  It also had a great Fear Factory soundtrack and gave you points for running over pedestrians (or zombies)! It was one of my favorite games when it came out.
        <p>
            <br />
            OpenC1 is an open-source remake of Carmageddon. It uses XNA for the graphics and
            Nvidia PhysX for the physics. It implements almost all features of the original
            game, including vehicles, tracks, vehicle damage, pedestrians, opponents, checkpoints,
            UI, breakable, bendable track objects, animations. It does not currently implement
            powerups or network play.
        </p>
        <p>
            As of version 1.4, OpenC1 can auto-download the free Carmageddon demo content (artwork,
            models, etc) so you can experience OpenC1 without having to own the full original
            game.
        </p>
    </div>
    <div class="col-md-6">

        <a href="https://github.com/jeff-1amstudios/OpenC1" class="btn btn-primary">
            Source code on GitHub</a>
        <a href="/download/openc1_1.4.zip" class="btn btn-default">Download v1.4 (29 Jan 11)</a>
                    
        <div class="videowrapper" style="margin-top:10px">
            <iframe src="http://www.youtube.com/embed/0afl6ruHZgI" frameborder="0" allowfullscreen></iframe>
       </div>
    </div>
</div>
<p>
Some videos recorded during development (newest to oldest): 
</p>
    <a href="http://www.youtube.com/watch?v=qyF-GhPEY2A">'Stunts and crashes'</a>,
    <a href="http://www.youtube.com/watch?v=JXaXxoTA4pg">'AI opponents'</a>,
    <a href="http://www.youtube.com/watch?v=enIzKAMWeQ4">'More advanced vehicle physics'</a>,
    <a href="http://www.youtube.com/watch?v=i36fbuWoSuI">'Track animations'</a>,
    <a href="http://www.youtube.com/watch?v=FgQstmM4EJA">'Early physics test using PhysX'</a>,
    <a href="http://www.youtube.com/watch?v=fBUbWGTx0C0">'Very early phyiscs test using
        JigLibX'</a>,
    <a href="http://www.youtube.com/watch?v=N4KQ_q5vhwI">First look at the track renderer'</a>
<br><br>
<div class="row">
{% for img in page.images %}
  <div class="img-grid col-lg-4 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="/img/openc1/{{img}}" /></div>
{% endfor %}
</div>

<p>
I wrote a bunch of posts which contain lots of detail about the development and challenges of making OpenC1. Here they are for historical reference, ordered oldest-newest.  
</p>

{% assign pages_list = site.tags.OpenC1 | sort: 'date' %}

{% for node in pages_list %}
  {% if node.title != null %}
    {% if group == null or group == node.group %}
        <p>
            <a href="{{node.url}}">{{node.title}}</a>
            <span class="post-meta">({{node.date | date: "%B %d, %Y"}})</span>
        </p>
    {% endif %}
  {% endif %}
{% endfor %}

{% assign pages_list = nil %}
{% assign group = nil %}

