---
layout: page
permalink: /projects/
title: Projects
---

{% assign pages_list = site.tags.project | sort: 'date' |  reverse  %}
{% for node in pages_list %}
  <div class="row">
    <p>
      <a href="{{node.url}}">{{node.title}}</a>
      <br>
      <span style="color:#777; font-style:italic">{{ node.content | strip_html | truncatewords: 20 }}</span>
    </p>
  </div>
{% endfor %}
{% assign pages_list = nil %}

{% for p in site.data.projects %}
  <div class="row">
    <p>
      <a href="{{p.url}}">{{p.title}}</a>
      <br>
      <span style="color:#777; font-style:italic">{{p.summary}}</span>
    </p>
  </div>
  
{% endfor %}

  <script type="text/javascript">
    $("#projectsLink").attr("class", "active");
  </script>
