---
layout: page
permalink: /projects/
title: Projects
---

<div class="section-heading">
  <h2>Projects</h2>
</div>

<div class="project-list">
  {% assign pages_list = site.tags.project | sort: 'date' | reverse %}
  {% for node in pages_list %}
    <a class="project-row" href="{{ node.url }}">
      <div class="project-row__media">
        <img src="/img/openc1/cityb-3.jpg" alt="{{ node.title }}">
      </div>
      <div class="project-row__copy">
        <h3>{{ node.title }}</h3>
        <p>{{ node.content | strip_html | truncatewords: 24 }}</p>
      </div>
    </a>
  {% endfor %}
  {% assign pages_list = nil %}

  {% for p in site.data.projects %}
    <a class="project-row" href="{{ p.url }}">
      <div class="project-row__media">
        <img src="{{ p.img }}" alt="{{ p.title }}">
      </div>
      <div class="project-row__copy">
        <h3>{{ p.title }}</h3>
        <p>{{ p.summary }}</p>
      </div>
    </a>
  {% endfor %}
</div>
