/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}