---
layout: page
title: Articles
permalink: /articles/
---

<div class="library-intro">
  <p>The site has gradually shifted from a chronological blog into a library of writeups: reverse engineering notes, project postmortems, experiments with retro hardware, and product detours.</p>
</div>

<section class="library-section">
  <div class="library-list">
    {% assign articles = site.articles | sort: "date" | reverse %}
    {% for item in articles %}
      <a class="library-row" href="{{ item.url }}"><span>{{ item.title }}</span></a>
    {% endfor %}
    {% for item in site.data.projects %}
      <a class="library-row" href="{{ item.url }}"><span>{{ item.title }}</span></a>
    {% endfor %}
  </div>
</section>
